@import "tailwindcss";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-montserrat: var(--font-montserrat);
  --color-primary: #1B9AD1;
  --color-secondary: #F3F9FB
}


body {
  color: var(--color-zinc-500);
  background: white !important;
  font-family: Arial, Helvetica, sans-serif;
}

html{
 background-color: white !important;
}

/* Add to your globals.css */

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

  
.animate-marquee {
  animation: marquee 15s linear infinite !important;
}